<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="loginUser()" class="feedback-form" name="form" novalidate>
        <!-- Name -->
        <div class="form-group">
          <label for="email"> Email</label>
          <input [(ngModel)]="login.email"
                 class="form-control"
                 id="email"
                 name="email"
                 placeholder="Your email"
                 required
                 type="text"/>
          <!-- input validation group -->

          <!-- Email -->
          <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="login.password"
                   class="form-control"
                   id="password"
                   name="password"
                   placeholder="Your password"
                   required
                   type="password"/></div>
          <br>
          <button class="btn btn-info" type="submit">
            <i class="fa fa-android"></i>
            <span> Login</span>
          </button>

        </div>
        <div class="offset-3"></div>
      </form>
    </div>
  </div>
</div>


