<div class="container">
  <div class="row">

    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="registerUser()" class="feedback-form" name="form" novalidate>
        <!-- Name -->
        <div class="form-group">
          <label for="email"> Email</label>
          <input
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="user.email"
            placeholder="Your email"
            required
            type="text"/>
          <!-- input validation group -->

          <!-- Email --></div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="user.password"
            placeholder="Your password"
            required
            type="password"/></div>
        <div class="form-group">
          <label for="firstname"> FirstName</label>
          <input
            class="form-control"
            id="firstname"
            name="firstname"
            [(ngModel)]="user.firstName"
            placeholder="Your Firstname"
            required
            type="text"/>
          <!-- input validation group -->

          <!-- Email --></div>
        <div class="form-group">
          <label for="lastname"> LastName</label>
          <input
            class="form-control"
            id="lastname"
            name="lastname"
            [(ngModel)]="user.lastName"
            placeholder="Your Lastname"
            required
            type="text"/></div>
        <div class="form-group">
          <label for="email"> Phone Number</label>
          <input
            [(ngModel)]="user.phoneNumber"
            class="form-control"
            id="phone"
            name="phoneNumber"
            placeholder="Your Phone Number"
            required
            type="number"/>
          <!-- input validation group -->

          <!-- Email --></div>

        <div class="form-group">
          <label for="firstname">Date of Birth</label>
          <input
            class="form-control"
            id="dob"
            name="dob"
            [(ngModel)]="user.dateOfBirth"
            placeholder="Your Date Of Birth"
            required
            type="date"/>
          <!-- input validation group -->

          <!-- Email --></div>
        <br>
        <button (click)="registerUser()" class="btn btn-info pull-right" routerLink="/index" type="submit">
          <i class="fa fa-android"></i>
          <span> Register</span>
        </button>

      </form>
    </div>

  </div>
</div>
