<div class="container">
  <div class="row">

    <div class="col-md-6">
      <form #f="ngForm" class="feedback-form" name="form" novalidate>
        <!-- Name -->
        <div class="form-group">
          <label for="email"> Email</label>
          <input
            class="form-control"
            id="email"
            name="email"
            placeholder="Your email"
            required
            type="text"/>
          <!-- input validation group -->

          <!-- Email --></div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            id="password"
            name="password"
            placeholder="Your password"
            required
            type="password"/></div>
        <div class="form-group">
          <label for="firstname"> FirstName</label>
          <input
            class="form-control"
            id="firstname"
            name="firstname"
            placeholder="Your Firstname"
            required
            type="text"/>
          <!-- input validation group -->

          <!-- Email --></div>
        <div class="form-group">
          <label for="firstname"> LastName</label>
          <input
            class="form-control"
            id="lastname"
            name="lastname"
            placeholder="Your Lastname"
            required
            type="text"/>
          <!-- input validation group -->

          <!-- Email --></div>
        <div class="form-group">
          <label for="firstname">Date of Birth</label>
          <input
            class="form-control"
            id="dob"
            name="dob"
            placeholder="Your Date Of Birth"
            required
            type="date"/>
          <!-- input validation group -->

          <!-- Email --></div>
        <br>
        <button class="btn btn-info" type="submit">
          <i class="fa fa-android"></i>
          <span> Register</span>
        </button>

      </form>
    </div>

  </div>
</div>
