spring:
  spring:
    datasource:
      url: jdbc:mysql://localhost:3306/
      username: slash
      password: slash
      platform: mysql
  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    database: mysql
    show-sql: true
    properties:
      javax:
        persistence:
          schema-generation:
            create-source: metadata
            scripts:
              action: create
              create-target: slash_database_create_game.sql